@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --color-brand-dark: #020617;
    /* slate-950 */
    --color-brand-orange: #f97316;
    /* orange-500 */
    --color-brand-red: #ef4444;
    /* red-500 */
}

@layer base {
    body {
        @apply bg-slate-950 text-slate-50 font-sans antialiased;
    }

    /* Dark Mode Blueprint Grid */
    .bg-blueprint {
        background-color: var(--color-brand-dark);
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
        background-size: 30px 30px;
    }
}

html {
    scroll-behavior: smooth;
}